[submodule "engine/libs/catch2"]
	path = engine/vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "engine/vendor/SDL"]
	path = engine/vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm.git
